body {
  margin: 0;
  padding: 0;
  box-sizing: border-boxinp;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0099aa;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.center {
  text-align: center;
}

.logo {
  height: 100px;
  width: 320px;
  margin-bottom: 15px;
  transition: all 1s ease;
}

.container_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  border: 3px solid #0ad4eb;
  border-radius: 20px;
  margin: 10px 25px;
  padding: 10px 20px;
}

.divider {
  flex: 1;
}
